body {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  .slider .slider-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .slider .slider-icon.sun {
    background-image: url('hey.png'); /* Chemin vers l'icône du soleil */
  }
  
  .slider .slider-icon.moon {
    background-image: url('hey2.png'); /* Chemin vers l'icône de la lune */
    opacity: 0;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider .slider-icon.sun {
    opacity: 0;
  }
  
  input:checked + .slider .slider-icon.moon {
    opacity: 1;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }